body, html {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
}
#msgs {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    background: rgb(238, 242, 255);
    overflow-y: scroll;
    /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
#topics {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 1000;
}
.msg {
    background: rgb(214, 218, 240);
    margin: 2px;
    padding: 3px;
    word-wrap: break-word;
    overflow-x: auto;
}
.highlight {
    border-left: 2px solid rgb(221, 0, 0);
}
.msg .msg_body {
    padding: 5px;
}
.msg .msg_header {
    font-size: 0.9em;
}
.msg .msg_header .msg_user_name {
    color: rgb(17, 119, 67);
    font-weight: bold;
    margin-right: 3px;
}
.msg .msg_header .msg_id:hover {
    cursor: pointer;
    color: rgb(221, 0, 0);
}
.msg .msg_header .msg_id {
}
.msg .msg_header .msg_date {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    margin-right: 3px;
}
.scroll_down {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.5;
    background: #eee;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.scroll_down:hover {
    cursor: pointer;
}
textarea:focus, input:focus {
    outline: none;
}
a {
    color: inherit;
}
#input {
    border: none;
    position: fixed;
    font-size: 1em;
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: arial, helvetica, sans-serif;
}
#challenge {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    color: white;
    text-align: center;
}
