html, body {
    background: white;
}
#msgs {
    background: white;
}
#input {
    border: 1px solid #eee;
    border-radius 5px;
}
.msg {
    background: rgba(0, 0, 0, 0);
    margin: 10px;
    max-width: 70%;
}
.msg_header {
    color: #888;
    margin-bottom: 5px;
}
.msg_body {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
.msg.me {
    padding-left: 30%;
    color: white;
}
.msg.me .msg_body {
    background: rgb(70, 150, 220);
}
.msg .msg_header .msg_user_name {
    color: #888;
    font-weight: normal;
    margin-right: 3px;
}
.msg .msg_header .msg_id:hover {
    cursor: pointer;
}
.msg .msg_header .msg_date {
    color: #888;
    font-style: italic;
    margin-right: 3px;
}
